---
import SummaryStatRow from "../SummaryStatRow.astro";

interface Props {
  showSummaryModel?: string;
  summaryModel?: string;
  loadingModel?: string;
}

const {
  showSummaryModel = "showSummary",
  summaryModel = "summary",
  loadingModel = "loading",
} = Astro.props;

const summary = {
  "Score": `${summaryModel}?.score ?? 0`,
  "Miss": `${summaryModel}?.segmentCounts?.miss ?? 0`,
  "Single": `${summaryModel}?.segmentCounts?.single ?? 0`,
  "Double": `${summaryModel}?.segmentCounts?.double ?? 0`,
  "Triple": `${summaryModel}?.segmentCounts?.triple ?? 0`,
  "Hit ratio": `((${summaryModel}?.hitRatio ?? 0) * 100).toFixed(1) + '%'`,
};
---

<article class="game-panel p-6 flex flex-col gap-6" x-show={showSummaryModel} x-cloak>
  <h2 class="text-xl font-semibold" x-text={`${summaryModel}?.status === 'dead' ? 'Game Over' : 'Game Complete'`}>
    Game Complete
  </h2>
  <dl class="flex flex-col gap-1">
    {
      Object.entries(summary).map(([label, value]) => (
        <SummaryStatRow label={label} value={value} />
      ))
    }
  </dl>


  <div class="grid grid-cols-2 gap-2">
    <h3 class="font-semibold text-lg col-span-2">Do you want to play again?</h3>
    <a href="/games" class="btn-secondary btn-press font-medium flex items-center justify-center" :class={loadingModel + " && 'pointer-events-none opacity-50'"}>
      No
    </a>
    <button
      type="button"
      class="btn-primary btn-press"
      :disabled={loadingModel}
      @click="playAgain()"
    >
      Yes
    </button>
  </div>
</article>
