---
interface Props {
  id: string;
  name: string;
  label: string;
  type?: "text" | "password" | "email" | "number";
  autocomplete?: string;
  required?: boolean;
  value?: string | number;
  min?: number;
  max?: number;
  "x-model"?: string;
  class?: string;
  [key: string]: unknown;
}

const {
  id,
  name,
  label,
  type = "text",
  autocomplete,
  required,
  value,
  min,
  max,
  "x-model": xModel,
  class: className = "",
  ...rest
} = Astro.props;
---

<div class:list={["space-y-1.5", className]} {...rest}>
  {
    label ? (
      <label for={id} class="text-text-muted @sm:text-sm block font-medium">
        {label}
      </label>
    ) : null
  }
  <input
    {id}
    {name}
    {type}
    {value}
    {min}
    {max}
    autocomplete={autocomplete}
    required={required}
    x-model={xModel}
    class="input-field"
  />
</div>
