---
import ShowIcon from "@icons/show.svg";
import HideIcon from "@icons/hide.svg";

interface Props {
  id: string;
  name: string;
  label: string;
  type?: "text" | "password" | "email" | "number";
  autocomplete?: string;
  required?: boolean;
  value?: string | number;
  min?: number;
  max?: number;
  "x-model"?: string;
  class?: string;
  [key: string]: unknown;
}

const {
  id,
  name,
  label,
  type = "text",
  autocomplete,
  required,
  value,
  min,
  max,
  "x-model": xModel,
  class: className = "",
  ...props
} = Astro.props;
---

<div class:list={["space-y-1.5 relative", className]} {...props} x-data="{showPassword: false}">
  {
    label ? (
      <label for={id} class="text-text-muted @sm:text-sm block font-medium">
        {label}
      </label>
    ) : null
  }

  {
    type === "password" ? (
      <input
      {id}
      {name}
      :type="showPassword ? 'text' : 'password'"
      {value}
      {min}
      {max}
      autocomplete={autocomplete}
      required={required}
      x-model={xModel}
      class="input-field"
    />
  ) : (
      <input
        {id}
        {name}
        {type}
        {value}
        {min}
        {max}
        autocomplete={autocomplete}
        required={required}
        x-model={xModel}
        class="input-field"
      />
    )
  }
  {
    type === "password" ? (
      <button type="button" class="absolute right-2 top-1/2" x-on:click="showPassword = !showPassword">
        <ShowIcon x-show="!showPassword" x-cloak class="size-6 text-text-muted" />
        <HideIcon x-show="showPassword" x-cloak class="size-6 text-text-muted" />
      </button>
    ) : null
  }
</div>
