---
import PlayerAvatar from "./PlayerAvatar.astro";
import TrophyIcon from "@icons/trophy.svg";

interface Props {
  summaryModel?: string;
  leftIndex?: number;
  rightIndex?: number;
}

const {
  summaryModel = "summary",
  leftIndex = 0,
  rightIndex = 1,
} = Astro.props;

const left = `${summaryModel}?.players[${leftIndex}]`;
const right = `${summaryModel}?.players[${rightIndex}]`;
---

<div class="w-full grid grid-cols-3 border-b border-border pb-3">
  <div class="col-span-1 flex justify-start">
    <div class="flex flex-col items-center justify-start gap-6">
      <PlayerAvatar
        nameExpr={`${left}?.displayName ?? ''`}
        isBotExpr={`${left}?.isBot`}
        isGuest={false}
      />
      <TrophyIcon
        class="size-6 text-text-muted"
        x-show={`${left}?.isWinner`}
        x-cloak
      />
    </div>
  </div>
  <div class="col-span-1 flex flex-col gap-2 justify-center items-center">
    <div class="flex flex-col justify-center items-center">
      <h3 class="text-xs font-semibold uppercase text-text-muted font-mono">
        Winner
      </h3>
      <h2
        class="text-3xl font-bold font-mono text-accent uppercase"
        x-text={`${summaryModel}?.winnerDisplayName ?? 'Match Complete'`}
      >
      </h2>
    </div>
    <span class="text-text-muted text-lg font-mono font-bold">vs</span>
  </div>
  <div class="col-span-1 flex flex-col items-end gap-6">
    <div class="flex flex-col items-center justify-start gap-6">
      <PlayerAvatar
        nameExpr={`${right}?.displayName ?? ''`}
        isBotExpr={`${right}?.isBot`}
        isGuest={false}
      />
      <TrophyIcon
        class="size-6 text-text-muted"
        x-show={`${right}?.isWinner`}
        x-cloak
      />
    </div>
  </div>
</div>
